/* * {
    box-sizing: border-box;
} */

#site-title {
    font-size: 40px;
    text-align: left;
}

body {
    background-color: lightblue;
    padding: 30px;
    min-height: calc(100vh - 16px);
    /* take away the margin */
    /* calculate the height minus the margin */
}

#site-navbar {
    text-align-last: center;
    background-color: rgb(84, 138, 70);
    padding: 10px;
    margin-bottom: 20px;
}

nav .btn{
    display: inline;
    color: aliceblue;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}

.profile-pic {
    width: 250px;
    height: 150px;
}

.about-me-paragraph {
    display: inline-block;
    width: calc(100% - 250px);
}

/* section {
    font-size: 20px;
    display: inline-blocks;
} */

#section1 {
    font-size: 20px;
    display: inline-block;
    margin-top: -10px;
    position: relative;
    padding-left: 5px;
}

#section1 div {
    display: inline-block;
    width: 400px;
}
p {
    display: inline-block;
    width: 400px;
}